/* ContentLayoutClear */
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutClear'] {
  font-weight: bold;
  color: #444;
  height: auto;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutClear'] tr {
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutClear'] td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutClear'] td .handle{
  min-height: auto;
}

/* CONTENT LAYOUT GROUP */
.cms .contentlayout-field-editor {
 padding-bottom: 0;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item {
 height: 46px;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item .handle {
 min-height: 46px;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.newField {
 position: fixed;
 animation: rowSlide .5s ease forwards;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.flashBackground {
 animation: flashBackground 2s linear;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.ui-sortable-placeholder {
 height: 50px;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup,
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup:hover {
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item .col-reorder,
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item .handle {
 background: #F6FBFE;
 background: #FFFFFF;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-0,
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-0 .col-reorder,
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-0 .handle{
 background: #E4F1FB;
 background: #FFFFFF;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-1,
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-1 .col-reorder,
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-1 .handle{
  background: #CFE4F5;
  background: #F2F2F2;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-2,
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-2 .col-reorder,
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-2 .handle{
  background: #B8D5EB;
  background: #E5E5E5;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-3,
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-3 .col-reorder,
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-3 .handle{
  background: #99CEF4;
  background: #CECECE;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutGroup'] label {
 font-weight: bold;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutGroupEnd'] {
  height: auto;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutGroupEnd'] td .handle{
  min-height: auto;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutGroupEnd'] label {
 font-weight: normal;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutGroupEnd'] .col-buttons .action {
 display: none;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutGroupEnd'] td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.cms .contentlayout-field-editor .stickyButtons {
 position: fixed;
 top: 40px;
 z-index: 2;
 background: #E6EAED;
 box-shadow: 0 12px 4px -8px #999;
 padding: 12px;
 margin-left: -12px;
}
.cms .contentlayout-field-editor .stickyButtons button.action {
 margin-bottom: 0;
}
.cms .contentlayout-field-editor .stickyButtons ~ .ss-gridfield-table {
 margin-top: 40px;
}

.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item .col-LevelDepth{
  padding: 0 !important;
  width: 20px;
  opacity: 0.4;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item .col-LevelDepth span{
  background: rgba(0, 0, 0, 0) url("../images/tree-icon-regular.png") no-repeat scroll left center;
  float: right;
  height: 50px;
  width: 100%;
}

/* DEPTH LEVEL 1 */
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item .col-LevelDepth.level-depth-1 span{
  background: rgba(0, 0, 0, 0) url("../images/tree-icon-regular.png") no-repeat scroll left center;
}

/* DEPTH LEVEL 2 */
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item .col-LevelDepth.level-depth-2{
  width: 40px;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item .col-LevelDepth.level-depth-2 span{
  background: rgba(0, 0, 0, 0) url("../images/tree-icon-regular.png") no-repeat scroll 9px center;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutGroup'] .col-LevelDepth.level-depth-2 span{
  background: rgba(0, 0, 0, 0) url("../images/tree-icon-start.png") no-repeat scroll left center;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutGroupEnd'] .col-LevelDepth.level-depth-2 span{
  background: rgba(0, 0, 0, 0) url("../images/tree-icon-end.png") no-repeat scroll left center;
}

/* DEPTH LEVEL 3 */
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item .col-LevelDepth.level-depth-3{
  width: 40px;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item .col-LevelDepth.level-depth-3 span{
  background: rgba(0, 0, 0, 0) url("../images/tree-icon-regular.png") no-repeat scroll 18px center;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutGroup'] .col-LevelDepth.level-depth-3 span{
  background: rgba(0, 0, 0, 0) url("../images/tree-icon-start.png") no-repeat scroll 9px center;
}
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='ContentLayoutGroupEnd'] .col-LevelDepth.level-depth-3 span{
  background: rgba(0, 0, 0, 0) url("../images/tree-icon-end.png") no-repeat scroll 9px center;
}

/* CURRENTLY NOT USED */
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-0.status-draft .col-reorder,
.cms .contentlayout-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup-level-0.status-draft .col-reorder .handle{
  background: #ecbd98;
}
