/*
	CLM - CONTENT LAYOUT MODULE
*/
.clm-fpo{
	&:nth-child(even){
    .space{
    	min-height: 200px;
		  background: #cccccc;
    }
	}
	&:nth-child(odd){
    .space{
    	min-height: 200px;
	    background: #999999;
    }
	}
}
.clm-section{
	width: 100%;
}

/* HTML */
.clm-html{
  /* COLLAPSIBLE CONTENT */
  .collapsible {
    position: relative;
  }
  .collapsible_button {
    background: transparent url("../../images/clm-closed.png") no-repeat scroll left center;
    clear: both;
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    &.open {
      background: url("../../images/clm-open.png") no-repeat scroll left center;
    }
  }
  .collapsible_content {
    position: relative;
    width: 100%;
    clear: both;
    display: none;
  }
}

/* IMAGE */
.clm-image{
  .image{
    position: relative;
    .caption{
      bottom: 0;
      color: #fff;
      left: 0;
      padding: 5%;
      position: absolute;
      text-align: center;
      width: 90%;
      z-index: 1;
      .bg{
        background: none repeat scroll 0 0 #000;
        float: left;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
      .content{
        float: left;
        position: relative;
        width: 100%;
        z-index: 1;
      }
    }
  }
}

/* IFRAME */
.clm-iframe{
  .iframe {
    &.responsive{
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* GALLERY - ROTATE */
.clm-gallery{
  .galleryrotate {
    position: relative;
    &.list{
      .button_container {
        background: none repeat scroll 0 0 #efefef;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      .button_list_container {
      }
      .button_list_item {
        background: none repeat scroll 0 0 #ccc;
        border-radius: 5px;
        cursor: pointer;
        float: left;
        height: 10px;
        margin: 5px 3px;
        width: 10px;
      }
      .button_list_item.active {
        background: none repeat scroll 0 0 #333;
      }
    }
    &.arrow{
      .button_container {
        .rotate_prev,
        .rotate_next{
          width: 28px;
          height: 28px;
          cursor: pointer;
        }
        .rotate_prev{
          @include vertical-align(absolute);
          left: 3%;
          background: transparent url("../../images/arrow-left.png") no-repeat scroll left top;
        }
        .rotate_next{
          @include vertical-align(absolute);
          right: 3%;
          background: transparent url("../../images/arrow-right.png") no-repeat scroll left top;
        }
        .rotate_prev,
        .rotate_next{
          &:hover{
            background-position: left bottom;
          }
        }
      }
    }
    .rotatee {
      height: auto;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .caption {
    }

  }

  /* GALLERY - SLIDER */
  .galleryslider{
  	position: relative;
  	width: 100%;
  	a{
  		img{
  			height: auto;
  			width: 100%;
  		}
  	}
  }
  .galleryslider-thumbs{
  	.slidethis{
  		position: relative;
  		width: 100%;
  	}
  	.arrow{
  		cursor: pointer;
  		float: left;
  		height: 100px;
  		width: 5%;
  		&.left{
  			background: rgba(0, 0, 0, 0) url("../../images/arrow-left.png") no-repeat scroll center center / contain ;
  			margin-right: 1%;
  		}
  		&.right{
  			background: rgba(0, 0, 0, 0) url("../../images/arrow-right.png") no-repeat scroll center center / contain ;
  			margin-left: 1%;
  		}
  	}
  	.slides{
  		float: left;
  		height: 100px;
  		overflow: hidden;
  		position: relative;
  		width: 88%;
  	}
  	.slide{
  		height: 100px;
  		width: 33%;
  		a{
  			float: left;
  			margin-left: 5%;
  			margin-right: 5%;
  			position: relative;
  			text-decoration: none;
  			width: 90%;
  			img {
  		    height: auto;
  		    width: 100%;
  			}
  		}
  	}
  }
}
